body {
    margin: 0;
}

.Test {
    display: flex;
    flex-wrap: wrap;
}

section {
    flex-basis: calc(100% - 10px);
    padding: 30px;
    margin:5px;
    text-align: center;
    color: white;
    box-sizing: border-box;
}
.section1{
    background-color:#88c1d0 ;
}

.section2 {
    background-color: #88c1d0;
}

.section3 {
    background-color: #88c1d0;
}

.section4 {
    background-color: #88c1d0;
}

@media screen and (min-width: 768px) and (max-width: 1599px) {
    section {
        flex-basis: calc(50% - 10px);
    }
}

@media screen and (max-width: 767px) {
    section {
        flex-basis: calc(100% - 10px);
    }
}


@media screen and (min-width: 1600px) {
    section {
        flex-basis: calc(25% - 10px);
    }
}














    

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5em;
}

.nav-links ul {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
}

.burger-menu {
    display: none;
    width: 30px;
    height: 20px;
    background-color: #fff;
    cursor: pointer;
}

@media (max-width: 767px) {
    .nav-links ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px; /* Adjust as needed based on your header height */
        left: 0;
        background-color: #333;
        width: 100%;
    }

    .nav-links li {
        margin-right: 0;
        text-align: center;
    }

    .burger-menu {
        display: block;
    }

    .burger-menu::before,
    .burger-menu::after {
        content: '';
        display: block;
        width: 30px;
        height: 3px;
        background-color: #fff;
        margin: 6px 0;
    }
}
